body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

@font-face {
  src: url(fonts/Norsebold.otf);
  font-family: Norse-Bold;
}

.image-sidebar {
  width: 30%;
  min-width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.fern-background {
  width: 100%;
  height: inherit;
  z-index: -1;
}

.odin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgb(0 0 0 / 40%);
  width: inherit;
  height: 15%;
  margin-top: 10%;
}

.odin-logo {
  width: 60px;
}

.odin-logo-text {
  font-family: 'Norse-Bold', Serif;
  font-size: 4em;
  display: flex;
  color: white;
}

.footer-credit {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.credit {
  color: white;
  position: fixed;
  font-size: small;
}

a {
  color: white;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

p {
  font-size: small;
}

.quotes {
  font-family: sans-serif;
  padding-left: 30px;
  padding-right: 20%;
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px 0 15px 0;
}

.form-input-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 30px;
}

legend {
    padding-left: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

label {
  font-family: sans-serif;
  font-size: x-small;
}

input {
  border-radius: 3px;
  border: 1px solid #E5E7EB;
}

.login {
  color: #596D48;
  text-decoration: none;
  font-weight: bolder;
}

input:focus {
  outline: 1px solid blue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#password:user-invalid {
  outline: 1px solid red;
}

.button-container {
  padding-left: 30px;
  font-family: sans-serif;
}

.create-account {
  font-size: small;
  font-weight: bold;
  background-color: #596D48;
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 160px;
  height: 35px;
  cursor: pointer;
}